.home-banner-img {
  height: 647px;
  background: url("../images/home.svg") no-repeat;
  @include lg {
    height: 306px;
    background-position: center;
  }
}

.platform-img {
  width: 90px;
  height: 90px;
}

.project-img {
  width: 86px;
  height: 86px;
}

.user-img {
  width: 80px;
  height: 80px;
}

.star-img {
  width: 20px;
  height: 20px;
}

.other-page {
  width: 10px;
  height: 10px;
}

.recent-page {
  width: 16px;
  height: 10px;
}

:root {
  --swiper-theme-color: #ffd153;
}

.swiper {
  padding: 60px 16px 0 0;
}

.swiper-wrapper {
  padding: 0 0 0 8px;
}

.swiper-slide {
  height: initial;
}

.swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 8px;
}

.swiper-pagination {
  position: static;
  margin-top: 24px;
}
