.bg-home {
  width: 850px;
  height: 770px;
  background: url("../images/bg_home.svg") no-repeat;
  z-index: -10;
}

.bg-home-sm{
  width: 347px;
  height: 306px;
  background: url("../images/bg_home_sm.svg") no-repeat;
  background-position: 0 bottom;
  z-index: -10;
}

.bg-ball-1 {
  background: url("../images/ball01.svg") no-repeat;
  background-size: cover;
  background-position: right;
}

.bg-ball-2 {
  background: url("../images/ball02.svg") no-repeat;
  background-size: cover;
  z-index: -10;
}

.bg-ball-3 {
  background: url("../images/ball03.svg") no-repeat;
  background-size: cover;
  background-position: right;
  z-index: -99;
}

.bg-skyBlue {
  height: 470px;
  border-bottom-left-radius: 300px;
  z-index: -10;
  @include md {
    border-bottom-left-radius: 200px;
  }
}

.logo {
  width: 218px;
  height: 40px;
  @include md{
    width: 130px;
    height: 24px;
  }
}

.footer-bg {
  height: 503px;
  background: url("../images/home_footer.svg") no-repeat;
  background-size: cover;
  background-position: center;
}

.back-to-top:hover {
  transition: 0.5s;
  animation: pulse 0.8s infinite;
}
