.bdrs-12 {
  border-radius: 0.75rem;
}

.bdrs-20 {
  border-radius: 1.25rem;
}

.bdrs-top-20 {
  border-top-right-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
}

.top-n-52 {
  top: -52px;
}

.top-120vh {
  top: 120vh;
}

.top-100vh-half {
  top: calc(100vh - 180px);
}

.top-200vh {
  top: 200vh;
}

.top-240vh {
  top: 240vh;
}

.top-870 {
  top: 870px;
}

.top-1760 {
  top: 1760px;
}

.top-3340{
  top: 3340px;
}

.left-20 {
  left: 20px;
}

.left-32 {
  left: 2rem;
}

.left-half {
  left: 50%;
}

.left-n-75 {
  left: -75px;
}

.right-23 {
  right: 23px;
}

.bottom-23 {
  bottom: 23px;
}

.translate-X-25 {
  transform: translateX(25%);
}

.translate-X-30 {
  transform: translateX(30%);
}

.translate-X-n-25 {
  transform: translateX(-25%);
}

.translate-X-n-50 {
  transform: translateX(-50%);
}

.translate-X-n-70 {
  transform: translateX(-70%);
}

.z-10 {
  z-index: 10;
}

.w-49 {
  width: 49px;
}

.w-88 {
  width: 88px;
}

.w-94 {
  width: 94px;
}

.w-138 {
  width: 138px;
}

.w-210 {
  width: 210px;
}

.w-153 {
  width: 153px;
}

.h-3 {
  height: 3px;
}

.h-126 {
  height: 126px;
}

.h-135 {
  height: 135px;
}

.h-361 {
  height: 361px;
}

.h-317 {
  height: 317px;
}

.h-153 {
  height: 153px;
}
